version: "3"
services:
  database:
    image: postgres:13-alpine
    container_name: mercur_database
    restart: always
    environment:
      - POSTGRES_USER=mercur_user
      - POSTGRES_PASSWORD=mercur_password
      - POSTGRES_DB=mercur_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:6-alpine
    container_name: mercur_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  backend:
    build: .
    container_name: mercur_backend
    # command: ["npx", "medusa", "db:migrate"]
    restart: unless-stopped
    ports:
      - "9000:9000"
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=postgres://mercur_user:mercur_password@database:5432/mercur_db
      - DB_NAME=mercur_db
      - REDIS_URL=redis://redis:6379
      - JWT_SECRET=your-secret-key-that-you-should-change
      - COOKIE_SECRET=your-cookie-secret-that-you-should-change
      - NODE_ENV=production
    env_file:
      - .env
    depends_on:
      - database
      - redis

volumes:
  postgres_data:
  redis_data:

networks:
  medusa_network:
    driver: bridge
